---
// Importamos los SVG
import CALCULATOR from '../../public/icons/CALCULATOR.svg';
import BUILDING from '../../public/icons/BUILDING.svg';
import HEART from '../../public/icons/HEART.svg';
import javascript from '../../public/icons/javascript.svg';
import typescript from '../../public/icons/typescript.svg';
import csharp from '../../public/icons/csharp.svg';
import java from '../../public/icons/java.svg';
import mongo from '../../public/icons/mongo.svg';
import express from '../../public/icons/express.svg';
import react from '../../public/icons/react.svg';
import node from '../../public/icons/node.svg';
import html from '../../public/icons/html.svg';
import css from '../../public/icons/css.svg';
import dotnet from '../../public/icons/dotnet.svg';
import sql from '../../public/icons/sql.svg';
import materialui from '../../public/icons/materialui.svg';
import figma from '../../public/icons/figma.svg';
import bootstrap from '../../public/icons/bootstrap.svg';    
import tailwind from '../../public/icons/tailwind.svg'; 
import astro from '../../public/icons/astro.svg';
import sass from '../../public/icons/sass.svg';
import next from '../../public/icons/next.svg';

// Propiedades del componente
const { name } = Astro.props;

// Mapeamos los iconos
const icons: Record<string, any> = {
  CALCULATOR,
  BUILDING,
  HEART,
  javascript,
  typescript,
  csharp,
  java,
  mongo,
  express,
  react,
  node,
  html,
  css,
  dotnet,
  sql,
  materialui,
  figma,
  bootstrap,    
  tailwind,
  astro,
  sass,
  next,
};

const SelectedIcon = icons[name] || null;
---

{SelectedIcon ? <SelectedIcon class="icon-style" /> : <span>Icono no encontrado</span>}

<style>
  .icon-style {
    width: 60px;
    height: auto;
  }
</style>
