@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eae4da;
  --text-primary: #1d1d1b;
  --text-headline: #c63f3e;
  --text-invert: #eae4da;
  --text-secondary: #ed773c;
  --button-bg: #ed773c;
  --button-hover: #ed773c;
  --button-text: #eae4da;
  --border: #eae4da;
  --icons: #d84c47;
  --hero: #d84c47;
  --badge: #d84c47;
}

html.dark {
  --background: #1d1d1b;
  --text-primary: #eae4da;
  --text-headline: #eae4da;
  --text-invert: #1d1d1b;
  --text-secondary: #eac119;
  --button-bg: #c63f3e;
  --button-hover: #d84c47;
  --button-text: #eae4da;
  --border: #d84c47;
  --icons: #eac119;
  --hero: #1d1d1b;
  --badge: #ed773c;
}

::selection {
  background-color: var(--text-primary);
  color: var(--background);
}

/* Recht */
@font-face {
  font-family: "Recht";
  src: url("/fonts/recht/recht-regular.otf") format("opentype");
  font-weight: 400; /* Normal */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recht";
  src: url("/fonts/recht/recht-semibold.otf") format("opentype");
  font-weight: 600; /* Semibold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Recht";
  src: url("/fonts/recht/recht-semibolditalic.otf") format("opentype");
  font-weight: 600; /* Semibold, itálica */
  font-style: italic;
  font-display: swap;
}

/* Mangueira */
@font-face {
  font-family: "Mangueira";
  src: url("/fonts/mangueira/mangueira-regular.otf") format("opentype");
  font-weight: 400; /* Normal */
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 16px;
  font-family: "Mangueira", "Recht", "Times New Roman", Times, sans-serif;
}

body h1 {
  font-size: 5rem !important;
  font-family: "Recht", sans-serif !important;
  color: var(--text-headline) !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-style: bold !important;
  margin-left: -1rem !important;
}

body h2 {
  font-size: 3.5rem;
  font-family: "Mangueira", sans-serif;
  text-align: left;
  text-transform: uppercase;
  color: var(--text-primary);
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

p.text-sm {
  font-size: 0.98rem;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
}

a {
  font-size: 1.2rem;
  color: var(--text-primary);
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

@media (max-width: 1300px) {
  body h1 {
    font-size: 2rem !important;
    text-align: left !important;
    margin: 0 !important;
    width: 100% !important;
    z-index: -2000 !important;
  }

  body h2 {
    font-size: 2rem !important;
    margin-bottom: 1rem !important;
  }
}
