---
import PreloadSkillIcons from '../components/PreloadSkillIcons.astro';
import { ClientRouter } from 'astro:transitions';
import ThemeIcon from '../components/ThemeIcon.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/normalize.css" />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<link rel="preload" href="fonts/barlow-v12-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
		<meta name="generator" content={Astro.generator} />
		<PreloadSkillIcons />
		<title>Agustin Altamirano</title>
		<ClientRouter fallback="swap"/>
	</head>
	<body>
		<ThemeIcon/>
		<slot />
	</body>
</html>

