---
import PreloadSkillIcons from '../components/PreloadSkillIcons.astro';
import { ClientRouter } from 'astro:transitions';
import ThemeIcon from '../components/ThemeIcon.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/styles/normalize.css" />
		<link rel="stylesheet" href="/styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Portafolio web de Agustín Altamirano 2025. 
		Desarrollador web y analista de sistemas." />
		<link rel="prefetch" href="./icons/CODERHOUSE.svg" as="image">
		<link rel="prefetch" href="./icons/ORT.svg" as="image">
		<link rel="prefetch" href="./icons/UTN.svg" as="image">
		<PreloadSkillIcons />
		<title>Agustin Altamirano</title>
		<ClientRouter fallback="swap"/>
	</head>
	<body>
		<ThemeIcon/>
		<slot />
	</body>
</html>

